<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mySingletonBean" class="SPRING.XML.MySingletonBean" >
        <constructor-arg index="0" value="This is a MESSAGE"/>
    </bean >

    <bean id="myNotEvenBean" class="SPRING.XML.MyNotEvenBean">
        <constructor-arg index="0" ref="mySingletonBean" />
    </bean>

</beans>